.App {
  text-align: center;
}
/* Header */
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #e73bd9;}

/* ul.topnav li.right {float: right;} */

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

/* Portfolio */
.project-card {
  border: 2px solid #e73bd9;
  width: 200px;
  height: 200px;
  justify-content: center;
  margin: 5px auto;
}

.project-card .img-box {
  width: 175px;
  height: 150px;
  margin: 5px auto;
  max-height: 50%;
}

.project-card .img-box img {
  width: 100%;
  height: auto;
  max-height: 100%;
}

/* Footer */
footer { 
  justify-content: center;
}

footer a {
  
}